<component name="ArtifactManager">
  <artifact type="exploded-war" name="springsecuritydemo:war exploded">
    <output-path>$PROJECT_DIR$/target/springsecuritydemo-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springsecuritydemo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.30" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springsecuritydemo-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springsecuritydemo/web/Web" />
    </root>
  </artifact>
</component>